html {
  font: 16px 'Arial MT', sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
}
.cls::after {
  content: '';
  display: block;
  clear: both;
}
.container {
  width: 1280px;
}
.pageHeader {
  padding: 3.125rem 3.125rem;
  background-color: #445162;
  color: #fff;
}
.pageHeader::after {
  content: '';
  display: block;
  clear: both;
}
.pageHeader > h1 {
  float: left;
  width: calc(59%);
  margin-bottom: 3.125rem;
  font-size: 3.25rem;
  line-height: 0.85em;
}
.pageHeader > img {
  float: right;
  width: 470px;
  height: 215px;
}
.pageHeader > ul {
  float: left;
  padding-left: 35px;
  margin-top: -0.5rem;
  list-style-image: url(../images/check_icon.png);
  font-size: 1.25rem;
  line-height: 2.25rem;
}
